head{
    text-align: center;
}
body{
  text-align: center;
  background-color: aqua;
  background-repeat: no-repeat;
}
h1{
  text-shadow:2px 2px #F8BBDO;
  font-size:30px;
}
p{
  font-size:25px;
  font-family: 'Oswald', sans-serif;
}
img{
  border-radius:50%;
  width: 400px;
}
